<!--{% extends "layouts/base.html" %}-->
<!--{% load static %}-->

<!--{% block title %} Export Cluster {% endblock %}-->

<!--&lt;!&ndash; Specific Page CSS goes HERE  &ndash;&gt;-->
<!--{% block stylesheets %}{% endblock stylesheets %}-->

<!--{% block content %}-->
<!--    <div class="container-fluid py-4">-->
<!--        <div class="row mb-4 mt-4">-->
<!--            <div class="col-lg-12 col-md-12 mb-md-0 mb-4">-->
<!--                <div class="card">-->
<!--                    <div class="card-header pb-0">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-6 col-7">-->

<!--                            </div>-->
<!--                            <div class="col-lg-6 col-5 my-auto text-end">-->
<!--                                <div class="dropdown float-lg-end pe-4">-->
<!--                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">-->
<!--                                        <li><a class="dropdown-item border-radius-md" href="javascript:">Action</a>-->
<!--                                        </li>-->
<!--                                        <li><a class="dropdown-item border-radius-md" href="javascript:">Another-->
<!--                                            action</a></li>-->
<!--                                        <li><a class="dropdown-item border-radius-md" href="javascript:">Something else-->
<!--                                            here</a></li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Export Database &ndash;&gt;-->
<!--                    <div class="card-body px-0 pb-2 items-center">-->
<!--                        <h4 style="text-align: center;">Export Cluster to Spreadsheet</h4>-->
<!--                        <br>-->
<!--                        <div class="row mt-3 text-center">-->
<!--                            <div class="col-md-4"></div>-->
<!--                            <div class="col-md-4">-->
<!--                                <button id="export-btn" class="btn btn-primary">Export Cluster</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <br>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--        <script>-->
<!--            $('#export-btn').click(function() {-->
<!--                $('#export-btn').prop('disabled', true);-->
<!--                exportClusterApi();-->
<!--            });-->
<!--        </script>-->
<!--        {% include 'includes/footer.html' %}-->
<!--    </div>-->
<!--{% endblock content %}-->

<!--&lt;!&ndash; Specific Page JS goes HERE  &ndash;&gt;-->
<!--{% block javascript %}-->

<!--{% endblock javascript %}-->
