{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="container-fluid py-4">
        <div class="row mb-4 mt-4">
            <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
                <div class="card">
                    <div class="card-header pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-7">

                            </div>
                            <div class="col-lg-6 col-5 my-auto text-end">
                                <div class="dropdown float-lg-end pe-4">
                                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                        <li><a class="dropdown-item border-radius-md" href="javascript:">Action</a>
                                        </li>
                                        <li><a class="dropdown-item border-radius-md" href="javascript:">Another
                                            action</a></li>
                                        <li><a class="dropdown-item border-radius-md" href="javascript:">Something else
                                            here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2 items-center">
                        <h4 class="ml-5" style="text-align: center;">Restore Cluster by Backup</h4>
                        <div class="row mt-5">
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <h6 class="mt-2">Backups : </h6>
                            </div>
                            <div class="col-md-3">
                                <select id="branch_select" class="form-select form-select-lg mr-3 branch_s"
                                        style="background-color: white;">
                                    {% if not backup_list %}
                                        <option value="">Take Backup First</option>
                                    {% endif %}
                                    {% for x in backup_list %}
                                        <option value="{{ x }}">{{ x }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5"></div>
                            <div class="col-md-4">
                                <button id="restore-btn" class="btn btn-primary" {% if not backup_list %}
                                        disabled {% endif %} >Restore Database
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>

                </div>
            </div>

        </div>
        <script>
            $('#restore-btn').click(function () {
                restoreDatabaseBackupHome();
            });

            $('#backup-cron-btn').on('click', function () {
                callCronjobApi('{{ csrf_token }}');
            });

            $('#timepicker').on('input', function () {
                printError("time-error", " ");
            });

            $('#select-function').on('input', function () {
                printError("function-error", " ");
            });
        </script>
        {% include 'includes/footer.html' %}
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascript %}

{% endblock javascript %}
