{% extends "layouts/base.html" %}

{% load static %}

{% block title %} - Settings {% endblock title %}
{% block stylesheets %}
<!-- Styles go here -->
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row mb-4 mt-4">
        <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-lg-6 col-7"></div>
                        <div class="col-lg-6 col-5 my-auto text-end">
                            <div class="dropdown float-lg-end pe-4">
                                <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                                    <li><a class="dropdown-item border-radius-md" href="javascript:">Action</a>
                                    </li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:">Another
                                            action</a></li>
                                    <li><a class="dropdown-item border-radius-md" href="javascript:">Something else
                                            here</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-0 pb-2 items-center">
                    <!-- Settings -->
                    <br>
                    <h4 class="ml-5" style="text-align: center;">Import File</h4>
                    <br>
                    <div class="row mt-3">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <form id="meta-form" action="{% url 'home:settings' %}" method="post"
                                enctype="multipart/form-data" onsubmit="return validateForm()">
                                {% csrf_token %}
                                <div class="form-group">
                                    <select id="select-databases" name="databaseName"
                                        class="form-select form-select-lg mr-3 branch_s"
                                        style="background-color: white; color: black;">
                                        <option value="select" selected>Select Database</option>
                                        {% for db in databases %}
                                        <option value="{{ db }}">{{ db }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>
                                <div class="form-group">
                                    <div>
                                        <select id="select-collections" name="colName"
                                            class="form-select form-select-lg mr-3 branch_s"
                                            style="background-color: white; color: black;">
                                            <option value="select" selected>Select Collection</option>
                                        </select>
                                    </div>
                                </div>
                                <br>

                                <div class="form-group">
                                    <label for="fileToImport">
                                        <h6>File to Import <span style="color: red;">*</span>:</h6>
                                    </label>
                                    <input type="file" class="ms-3" id="fileToImport" name="fileToImport"
                                        accept=".json, .csv" required>
                                </div>
                                <br>
                                <div style="color: red;" class="text-center" id="metaError"></div>
                                <br>

                                <div class="form-group" style="text-align: center;">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                                <br>
                            </form>
                        </div>

                        <script>
                            function validateForm() {
                                var fileInput = document.getElementById("fileToImport");
                                var errorDiv = document.getElementById("metaError");

                                if (!fileInput.value) {
                                    errorDiv.textContent = "Please select a file.";
                                    return false; // Prevent form submission
                                } else {
                                    errorDiv.textContent = ""; // Clear any previous error message
                                    return true; // Allow form submission
                                }
                            }
                        </script>

                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#select-databases').on('change', function () {
            $('#fileToImport').focus();
            let db = $(this).val();
            getCollectionsDataView('{{ csrf_token }}', db);
            
        })
    });
</script>
{% endblock content %}

{% block javascript %}

{% endblock %}